body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.pink {
    background-color: pink;
}

.green {
    background-color: green
}

.gray {
    background-color: gray;
}

.purple {
    background-color: purple;
}
.flash {
    background-color: white;
}